@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root{
    font-size: 10px;
}

body{
    font-family: Montserrat , 'sans-serif';
    font-size: 1.6rem;
    max-width: 100vw;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 4.5rem;
    background-color:steelblue;
}

.nav-branding img{
    max-width: 4rem;
    margin-inline-start: 2rem;
}

.nav-menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.nav-item a {
    text-decoration: none;
    text-transform: uppercase;
    color: #edf0f1;
    font-weight: 500;
    font-size: 1.6rem;
    transition: 0.7s ease;
}

.nav-item a:hover {
    color: purple;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: 0.3s ease-in-out;
    background-color: #edf0f1;
}

@media(max-width:40rem){

    .hamburger{
        display: block;
    }
    .nav-menu{
        flex-direction: column;
        padding: min(30vh,10rem) 2em;
        justify-content: flex-start;
        inset: 4.5rem 0 0 0;
        gap: 3rem;
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-color: steelblue;
        transform: translateX(100%);
        transition: 0.4s ease-in-out;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;

    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu.active{
        transform: translateX(15%);
    }
}

main{
    max-width: 100vw;
}