{% extends 'base.html' %}
{% load extras %}
{% load guardian_tags %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href={% static 'accounts/css/profile.css' %}>
{% endblock css %}


{% block content %}

        {% if request.user.is_authenticated %}
        {% get_obj_perms request.user for profile_user as 'online_user_perms' %}
        <div class="container">
            <div class="profile">
                <div class="profile-header">
                    <div class="profile-header-cover"></div>
                    <div class="profile-header-content">
                        <div class="profile-header-img">
                            {% if profile_user.picture %}
                                <img src="{{profile_user.picture.url}}" alt="{{profile_user.username}}">
                            {% else %}
                                <img src="{{profile_user.DEFAULT_PICTURE}}" alt="{{profile_user.username}}">
                            {% endif %}
                        </div>
                        <ul class="profile-header-tab nav nav-tabs nav-tabs-v2">
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="collapse" href="#post-list" data-bs-parent="#collapsibles" aria-expanded="false" aria-controls="post-list">
                                    <div class="nav-field">Posts</div>
                                    <div class="nav-value">382</div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" data-bs-toggle="collapse" href="#following-list" aria-expanded="false" aria-controls="following-list">
                                    <div class="nav-field">Following</div>
                                    <div class="nav-value">1.3m</div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#profile-followers" class="nav-link" data-toggle="tab">
                                    <div class="nav-field">Following</div>
                                    <div class="nav-value">2,592</div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
        
                <div class="profile-container">
                    <div class="profile-sidebar">
                        <div class="desktop-sticky-top">
                            <h4>{{profile_user.username}}</h4>
                            <div class="font-weight-600 mb-3 text-muted mt-n2">@{{profile_user.username}}</div>
                            <p>
                                {{profile_user.description}}
                            </p>
                            <div class="mb-1"><i class="fa fa-map-marker-alt fa-fw text-muted"></i>{{profile_user.location}}</div>
                            <div class="mb-3"><i class="fa fa-link fa-fw text-muted"></i><a href={{profile_user.website}}>{{profile_user.website}}</a> </div>
                            <div class="mb-1">
                                {% if 'change_user' in online_user_perms %}
                                    <a href={% url 'edit-profile-view' %} class="btn btn-primary">Edit</a>
                                    <a href={% url 'upload-pp-view' %} class="btn btn-primary">Change photo</a>
                                {% endif %}
                            </div>
                            <hr class="mt-4 mb-4" />
                        </div>
                    </div>
        
                    <div class="profile-content">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="tab-content p-0">
                                    <div id="collapsibles">
                                        <div class="collapse list-group" id="following-list">
                                            {% for follow in profile_user.follows.all %}
                                                <div class="list-group-item d-flex align-items-center">
                                                    <img src={{follow.picture.url}} alt="" width="50px" class="rounded-sm ml-n2" />
                                                    <div class="flex-fill pl-3 pr-3">
                                                        <div>
                                                            <a href={{ follow.get_absolute_url }} class="text-dark font-weight-600">{{follow}}</a>
                                                        </div>
                                                    </div>
                                                    {% if 'change_user' in online_user_perms %}
                                                        <a href={% url 'unfollow' follow.username %} class="btn btn-outline-primary">Unfollow</a>
                                                    {% endif %}
                                                </div>
                                            {% endfor %}  
                                        </div>
                                        <div class="collapse list-group" id="post-list">
                                            <div class="list-group-item d-flex align-items-center">
                                                {% for post in posts %}
                                                    <img src={{post.photo.image.url}} alt="" width="50px" class="rounded-sm ml-n2" />
                                                    <div class="flex-fill pl-3 pr-3">
                                                        <div>
                                                            <p class="text-dark font-weight-600">{{post.title}}</p>
                                                        </div>
                                                    </div>
                                                    <a href={{post.get_absolute_url}} class="btn btn-outline-primary">Read</a>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="text-center p-3">
                                            <a href="#" class="text-dark text-decoration-none">Show more <b class="caret"></b></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        {% endif %}
    
{% endblock content %}