{% extends 'base.html' %}
{% load extras %}
{% load guardian_tags %}
{% block content %}

        {% if request.user.is_authenticated %}
            <div>
                <h1>{{profile_user.username}}</h1> 
                {% if profile_user.picture %}
                    <img src="{{profile_user.picture.url}}" alt="{{profile_user.username}}" style=" max-width:100px">
                {% else %}
                    <img src="{{profile_user.DEFAULT_PICTURE}}" alt="{{profile_user.username}}" style=" max-width:100px">
                {% endif %}
                
            </div>
            
            <h2>Photos</h2> 
            <div>
                {% for photo in photos %}
                    {% include 'blog/partials/photo_snippet.html' %}
                {% endfor %}
            </div>

            <h2>Posts</h2> 
            <div>
                {% for post in posts %}
                    {% include 'blog/partials/post_snippet.html' %}
                {% endfor %}
            </div>

            {% get_obj_perms request.user for profile_user as 'online_user_perms' %}
            <div>
                <h2>Following:</h2>
                <ul>
                    {% for follow in profile_user.follows.all %}
                        <li>
                            <a href={{ follow.get_absolute_url }}>{{follow}}</a>
                            {% if 'change_user' in online_user_perms %}
                                <a href={% url 'unfollow' follow.username %}>Unfollow</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div>
    
                {% if 'change_user' in online_user_perms %}
                    <a href={% url 'edit-profile-view' %}>Edit profile</a> <br>
                    <a href={% url 'upload-pp-view' %}>Upload profile photo</a>
                {% endif %}
                
            </div>
        
        {% endif %}
    
{% endblock content %}