{% extends 'base.html' %}

{% block content %}

        {% if request.user.is_authenticated %}
            <div>
                <h1>{{user.username}}</h1> 
                {% if user.picture %}
                    <img src="{{user.picture.url}}" alt="{{user.username}}" style=" max-width:100px">
                {% else %}
                    <img src="{{user.DEFAULT_PICTURE}}" alt="{{user.username}}" style=" max-width:100px">
                {% endif %}
                
            </div>
            
            <h2>{{user}}'s photos</h2> 
            <div>
                {% for photo in photos %}
                    <figure>
                        <img src="{{ photo.image.url }}" alt={{ photo.caption }} style=" max-width:300px">
                        <figcaption>{{ photo.caption }} </figcaption>
                    </figure>
                    
                {% endfor %}
            </div>

            <h2>{{user}}'s posts</h2> 
            <div>
                {% for post in posts %}
                    <h2>{{post.title}}</h2>
                    <p>Author: {{post.author}}</p>
                    <a href={{ post.get_absolute_url }}>Read post</a>
                {% endfor %}
            </div>

            <div>
                <a href={% url 'edit-profile-view' %}>Edit profile</a> <br>
                <a href={% url 'upload-pp-view' %}>Upload profile profile</a>    
            </div>
        
        {% endif %}
    
{% endblock content %}