{% extends 'base.html' %}
{% load extras %}
{% load static %}

{% block css %}

    <link rel="stylesheet" href={% static 'blog/css/blog-feed.css' %}>

{% endblock css %}

    {% block content %}
        <article>
            {% if request.user.is_authenticated %}

                {% for instance in posts_and_photos %}
                    {% if instance|model_type == 'Photo' %}
                        
                    {% elif instance|model_type == 'Post' %}
                        {% include 'blog/partials/post_snippet.html' with post=instance %}
                    {% endif %}

                
                {% endfor %}
                    
            {% endif %}
        </article>
        
    {% endblock content %}

