{% extends 'base.html' %}
{% load extras %}
{% block content %}

        {% if request.user.is_authenticated %}

            {% for instance in posts_and_photos %}
                {% if instance|model_type == 'Photo' %}
                    
                {% elif instance|model_type == 'Post' %}
                    {% include 'blog/partials/post_snippet.html' with post=instance %}
                {% endif %}

            
            {% endfor %}
            
        {% endif %}
{% endblock content %}