{% extends 'base.html' %}

{% block content %}

    {% if request.user.is_authenticated %}
        {% if creators %}
            {% for creator in creators %}
                <section class='creators'>
                    <article class='creator'>
                        <h1>{{creator.username}}</h1> 
                        {% if creator.picture %}
                            <img src="{{creator.picture.url}}" alt="{{creator.username}}" style=" max-width:100px">
                        {% else %}
                            <img src="{{creator.DEFAULT_PICTURE}}" alt="{{creator.username}}" style=" max-width:100px">
                        {% endif %}
                        <a href = {% url 'follow' creator.username %}>Follow</a>
                    </article>
                
                </section>
            {% endfor %}
        {% else %}
            <p>No available creator to follow!</p>
        {% endif %}
    {% endif %}
{% endblock content %}
