{% extends 'base.html' %}

{% block content %}

    {% if request.user.is_authenticated %}
        {% if creators %}
            {% for creator in creators %}
                <div>
                    <div>
                        <h1>{{creator.username}}</h1> 
                        {% if creator.picture %}
                            <img src="{{creator.picture.url}}" alt="{{creator.username}}" style=" max-width:100px">
                        {% else %}
                            <img src="{{creator.DEFAULT_PICTURE}}" alt="{{creator.username}}" style=" max-width:100px">
                        {% endif %}
                    </div>
                    
                    <form action="" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="username" value={{creator.username}}>
                        <button type="submit">Follow</button>
                    </form>
                
                </div>
            {% endfor %}
        {% else %}
            <p>No available creator to follow!</p>
        {% endif %}
    {% endif %}
{% endblock content %}
