{% extends 'base.html' %}
{% load guardian_tags %}
{% load crispy_forms_tags %}
{% block css %}

{% endblock css %}


{% block content %}
    <article class="container">
        {% if post %}
        <h2>{{post.title}}</h2>
        {{post.content.html | safe}}
        <a href={{post.photo.image.url}}> <img src={{post.photo.image.url}} alt={{ post.photo.caption }} style=" max-width:300px"></a>
        <p>Author: {{post.author}}</p>

        {% get_obj_perms request.user for post as 'post_perms' %}

        {% if 'change_post' in post_perms %}
            <a href={% url 'post-edit-view' post.slug %}>Edit</a>
        {% endif %}

        <form id='formdata' action="" method="post">
            {% csrf_token %}
            {{comment_form|crispy}}
            <button class='btn btn-success' type="submit">Comment</button>
        </form>
        
        <div class="comments">
            {% for comment in comments %}
                <p>{{ comment.author }} : {{comment.content}}</p>
            {% endfor %}
        </div>
    {% endif %}

    </article>
{% endblock content %}

    
{% block script %}

    <script type="text/javascript">
        const commentForm = document.getElementById('formdata');

        const content = document.getElementById("id_content");
        const Comments = document.querySelector('.comments');


        const url = `ws://${window.location.host}{{ post.get_absolute_url }}ws/socket-server/`;

        const commentSocket = new WebSocket(url);

        commentSocket.onmessage = function(e){
            let data = JSON.parse(e.data);
            console.log('Data:',data);

            if(data.type === 'comment'){
                const comment = document.createElement('p');
                comment.textContent = data.message;
                Comments.appendChild(comment);
                commentForm.reset()
                
        }
    }


    commentForm.addEventListener("submit", function(e){
        e.preventDefault();

        const formData = new FormData(commentForm);
    
        // formData.append('content', content);
        // formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
        // console.log(formData);

        fetch('{{ post.get_absolute_url }}', {
        method: 'POST',
        body: formData})
        .then((response) => {
            return response.json()
        })
        .then((data) => {
            
            commentSocket.send(JSON.stringify(data));
            content.textContent = '';

        })
        .catch(error => {
            console.error('Error:', error);
        });
    });
    </script>

{% endblock script %}