html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*, *::after,*::before{
    box-sizing: inherit;
    margin: inherit;
    padding: inherit;
}

nav ul {
    border: 5px solid black;
    list-style: none;
    display: flex;
    justify-content: space-around;
}