{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static 'blog/css/header-blog.css' %}>

    {% block css %}
    {% endblock css %}
    
    <title>Fotoblog</title>
</head>
<body>
    <header>
        {% include 'header.html' %}
    </header>

    <main>
        <section>
            {% block content %}
        
            {% endblock content %}
        </section>
    </main>

   
    {% block script %}
    
    {% endblock script %}

    <script src={% static 'base/js/script.js' %} defer></script>
</body>
