{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    {% block css %}
    {% endblock css %}
    
    <title>Fotoblog</title>
</head>
<body>

    <header class="p-2 mb-3 border-bottom">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
    
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">

                <li><a href={% url 'blog-home-view' %} class="nav-link px-2 link-secondary">Blog</a></li>

                {% if perms.blog.add_photo and perms.blog.add_post %}
                    <li class="nav-link px-2 link-dark">
                        <a href={% url 'create-post-view' %}>Create post</a>
                    </li>
                {% endif %}
            </ul>
    
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
              <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
            </form>
    
            <div class="dropdown text-end">
              <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                {% if request.user.is_authenticated %}
                      <img src="{{request.user.picture.url}}" alt="{{request.user.username}}" width="32" height="32" class="rounded-circle">
                {% else %}
                  <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" 
                  class="rounded-circle">
                {% endif %}
              </a>
              <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                <li><a class="dropdown-item" href="#">Settings</a></li>
                {% if request.user.is_authenticated %}
                    <li>
                        <a class="dropdown-item" href='{{ request.user.get_absolute_url }}'>Profile</a>
                    </li>
                    <li><a class="dropdown-item" href={% url 'follows-view' %}>Follow creators</a></li>
                    <li><a class="dropdown-item" href={% url 'logout-view' %}>Sign out</a></li>
                    
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </header> 

      <main class='min-vh-100 container-fluid'>
    
        {% block login %}
        
        {% endblock login %} 
        {% block content %}
    
        {% endblock content %}
    </main>

    <footer class="text-center bg-dark text-light" >
      <div style="position:sticky" class="d-flex flex-column align-items-center">
          <p>&copy; Fotoblog </p>
          <p>No rights reserved</p>
      </div>
</footer
    <!-- Bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    {% block script %}
    
    {% endblock script %}
    <script src={% static 'base/js/script.js' %} defer></script>
</body>
