{% load static %}

<div class='nav-branding'>
    <a href={% url 'home-view' %}><img src={% static 'base/logo.png' %} alt="Logo"></a>
</div>

<nav class="navbar">

    <ul class="nav-menu">
        <li class="nav-item"><a href={% url 'blog-home-view' %}>Blog</a> </li>
        {% if request.user.is_authenticated %}
            <li class="nav-item"><a href={% url 'logout-view' %}>Logout</a></li>
            {% if perms.blog.add_photo and perms.blog.add_post %}
                <li class="nav-item"><a href={% url 'upload-photo-view' %}>Upload photo</a></li>
                <li class="nav-item"><a href={% url 'create-post-view' %}>Create post</a></li>
            {% endif %}
            <li class="nav-item"><a href={% url 'follows-view' %}>Follow creators</a></li>
            <li class="nav-item"><a href='{{ request.user.get_absolute_url }}'>Profile</a></li>
        {% endif %}
    </ul>

    <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
</nav>
