:root{
    font-size: 10px;
    --blog-blue-1 : #2691d9;

    --blog-white-1 : #edf0f1;

    --login-gradient-1 : linear-gradient(120deg,var(--blog-blue-1), #8e44ad);
    --login-silver-1 : silver;
    --login-silver-2 : #adadad;
    --login-silver-3 :#666666;

    --failure : rgb(151, 48, 48);
}

body{
    background: var(--login-gradient-1) ;
    height: 100vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper{
    align-self: center;
    background-color: var(--blog-white-1);
    width: 30vw;
    border-radius: 10px;
}

.wrapper h1{
    text-align: center;
    padding: 2rem;
    border-bottom:1px solid var(--login-silver-1) ;
}

.wrapper form{
    padding: 0 4rem;
}

.form__field{
    position: relative;
    border-bottom: 2px solid var(--login-silver-2);
    margin: 3rem 0;
}

.form__field input, .form__field select{
    background-color: var(--blog-white-1);
    width: 100%;
    padding: 0 5px;
    height: 4rem;
    border: none;
    outline: none;
}

/* .form__field select{

    padding-right: 50px;
} */

.form__field label{
   position: absolute;
   bottom: 20%;
   left: 0%;
   color: var(--login-silver-2);
   pointer-events: none;
   transition: 0.5s;
}

.form__field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: var(--blog-blue-1) ;
    transition: 0.5s;
}

.form__field input:focus ~ label{
    transform: translateY(-100%);
    color: var(--blog-blue-1);
}

.form__field input:focus ~ span::before{
    width: 100%;
}

.pass{
    display: inline-block;
    text-decoration: none;
    margin: 2rem 4rem;
    color: var(--login-silver-2);
    cursor: pointer;
    transition: 0.5;
}

.pass:hover{
    text-decoration: underline;
}

button[type="submit"]{
    font-family: Montserrat;
    width: 100%;
    height: 5rem;
    border: 1px solid;
    background: var(--blog-blue-1);
    border-radius: 2.5rem;
    font-size: 1.8rem;
    color: var(--blog-white-1);
    cursor: pointer;
    outline: none;
}

button[type="submit"]:hover{
    border-color: var(--blog-blue-1);
    transition: 0.5s;
}

.signup_link{
    margin: 3rem 0;
    text-align: center;
    color: var(--login-silver-3);
}

.signup_link a{
    color: var(--blog-blue-1);
    text-decoration: none;
}

.signup_link a:hover{
    text-decoration: underline;
}

@media (max-width:50rem){
    .wrapper{
        width: 60vw;
    }
}

@media (max-width:30rem){
    .wrapper{
        width: 70vw;
    }
}

.errorlist{
    list-style: none;
    color: var(--failure);
}